<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Website</title>
</head>
<body>
<section>
    {% for article in articles %}
        <div>
            <img src="{{ article.getUrlToImage() }}" alt="{{ article.getTitle() }}">
            <a href="{{ article.getUrl() }}" target="_blank"><h1>{{ article.getTitle() }}</h1></a>
            <p>{{ article.getDescription() }}</p>
            <p>{{ article.getSource() }} | {{ article.getPublishedAt().format('Y.m.d') }}</p>
        </div>
    {% endfor %}
</section>
</body>
</html>